name: Code Quality

on:
  pull_request:
    branches:
      - main

jobs:
  lint:
    name: Lint and Generate
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install ShellCheck
        run: sudo apt-get install -y shellcheck

      - name: ShellCheck scripts
        run: shellcheck ./*.sh ./**/*.sh

      - name: Generate tasks
        run: |
          ./build/generate-tasks.sh
          git diff --exit-code

      - name: Lint YAML
        run: yamllint --config-file build/.yamllint .
